{# Bloque 4XX - Series #}
<section id="bloque-4xx" class="bloque-section">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">
                <i class="bi bi-collection"></i>
                Bloque 4XX - Series
            </h5>
        </div>
        <div class="card-body">
            {# Campo 490 - Mención de serie (Repetible) #}
            <div class="campo-marc">
                <div class="campo-titulo">
                    <span class="badge-marc">490</span>
                    <h6>Mención de Serie</h6>
                    <span class="badge-repetible">REPETIBLE</span>
                </div>
                
                <p class="form-text">Información de la serie a la que pertenece la obra. Subcampos $a (título) y $v (volumen) repetibles.</p>
                
                {% include 'catalogacion/includes/formset_490_template.html' with formset=menciones_serie_490 %}
            </div>
        </div>
    </div>
</section>
