{% include 'catalogacion/bloques/bloque_6xx.html' %}
{# Bloque 4XX - Series #}
<section id="bloque-4xx" class="bloque-section">
    <div class="card">
        
        <div class="card-body">
            {# Campo 490 - Mención de serie (Repetible) #}
            {% if '490' in campos_visibles and 'menciones_serie_490' in formsets_visibles %}
            <div class="campo-marc">
                <div class="campo-titulo">
                    <span class="badge-marc">490</span>
                    <h6>Mención de Serie</h6>
                    <button type="button" class="campo-add-btn" data-formset-target="menciones_490" title="Agregar Mención de Serie">
                        <i class="bi bi-plus"></i>
                    </button>
                    <span class="campo-help-btn" data-field-code="490" tabindex="0" title="Ayuda">
                        <i class="bi bi-question-circle"></i>
                    </span>
                </div>
                
                {% include 'catalogacion/includes/formset_490_template.html' with formset=menciones_serie_490 %}
            </div>
            {% endif %}
        </div>
    </div>
</section>