{% extends 'base.html' %} {% block title %}Inicio | MARC21 Musical{% endblock %}
{% block content %}
<div class="text-center py-5">
    <h2 class="fw-bold text-primary">
        Bienvenido al Sistema de Catalogación MARC21 Musical 🎶
    </h2>
    <p class="lead mt-3">
        Gestione obras musicales, registros de colección y plantillas
        fácilmente.
    </p>

    <div class="mt-4 d-flex gap-3 justify-content-center flex-wrap">
        <a href="{% url 'plantillas' %}" class="btn btn-outline-primary">
            <i class="bi bi-file-earmark-text"></i> Ir a Plantillas
        </a>
    </div>
</div>
{% endblock %}
