{% extends 'base.html' %}

{% block title %}Plantillas | MARC21 Musical{% endblock %}

{% block content %}
<body class="bg-light">

    <div class="container">

        <div class="card shadow-sm border-0">
            <div class="card-header bg-success text-white fw-bold">
                Música Manuscrita
            </div>
            
            <div class="card-body">
                <ul class="list-unstyled fs-6">
                    <li class="mb-2">
                        <a href="{% url 'coleccion_manuscrita' %}" class="link-dark text-decoration-none fw-semibold">
                            Coleccion manuscrita
                        </a>
                        <ul class="list-unstyled ms-3">
                            <li>
                                <a href="{% url 'obra_individual_manuscrita' %}" class="link-secondary text-decoration-none">
                                    Obra individual en colección manuscrita
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="link-dark text-decoration-none fw-semibold">
                            Obra individual manuscrita
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <div class="card shadow-sm border-0">
            <div class="card-header bg-success text-white fw-bold">
                Música Impresa
            </div>

            <div class="card-body">
                <ul class="list-unstyled fs-6">
                    <li class="mb-2">
                        <a href="{% url 'coleccion_impresa' %}" class="link-dark text-decoration-none fw-semibold">
                            Coleccion impresa
                        </a>
                        <ul class="list-unstyled ms-3">
                            <li>
                                <a href="{% url 'obra_individual_impresa' %}" class="link-secondary text-decoration-none">
                                    Obra individual en colección impresa
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="link-dark text-decoration-none fw-semibold">
                            Obra individual impresa
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 🔸 Panel de ayuda lateral -->
        <div class="mt-4 alert alert-info">
            <strong>Ayuda:</strong> 
            Se utilizan registros de <b>Colección</b> (registro madre) en los casos en los que varias obras han sido copiadas o impresas en un mismo documento. 
            Cada obra de la colección se registra como una <b>Entrada individual</b>.
        </div>
    </div>

</body>
{% endblock %}



